/Client/Client/bin
/Client/Client/obj
/Client/Client.v12.suo
/Server/Server.v12.suo
/Server/Server/bin
/Server/Server/obj
/Server/GTWServer solution.suo
/Server/GTWServer solution.v12.suo
/Client/*.suo
