.roomContent{
    background-color:red;
    position:relative;
    width:80vw;
    height:80vh;
}
.roomCanvas{
    background-color:#bbcccc;
    float:left;
    width:50vw;/*Viewport Width*/
    height:60vh;
}
.roomTimer {
    background-color:#927f92;
    float:right;
    width:30vw;
    height:30vh;
}
.roomGuesses{
    background-color:#347d7b;
    float:right;
    width:30vw;
    height:30vh;
}
.roomChat{
    background-color:#7fc7af;
    position: absolute;
    bottom:0px;
    width:80vw;
    height:20vh;
}


/*TIMER*/
.square {
  position: absolute;
  width: 30vw;
  height: 30vh;
}
svg {
  width: 30vw;
  height: 30vh;
}

/*CANVAS*/
#mainCanvas {
    border: 2px #c3c3c3 solid;
    float: right;
    width:40vw;
    height:60vh;
    background-color:white;
}
/*Alati*/
.canvasTools{
    float:left;
    width:10vw;
}
#green{
    width:10px;
    height:10px;
    background:green;
}
#orange{
    width:10px;
    height:10px;
    background:orange;
}
#blue{
    width:10px;
    height:10px;
    background:blue;
}
#yellow{
    width:10px;
    height:10px;
    background:yellow;
}
#red{
    width:10px;
    height:10px;
    background:red;
}
#black{
    width:10px;
    height:10px;
    background:black;
}
#white{
    width:15px;
    height:15px;
    background:white;
    border:2px solid;
}
#line{
    width:15px;
    height:15px;
    background:white;
    border:2px solid;
}
#pencil{
    width:15px;
    height:15px;
    background:red;
    border:2px solid;
}
#rect{
    width:15px;
    height:15px;
    background:red;
    border:2px solid;
}