.roomContent{
    background-color:white;
    position:relative;
    width:100vw;
    height:150vh;
}
.roomCanvas{
    background-color:#bbcccc;
    float:left;
    width:60vw;/*Viewport Width*/
    height:100vh;
}
.roomTimer {
    background-color:#927f92;
    float:left;
    width:30vw;
    height:50vh;
}
.roomGuesses{
    background-color:#347d7b;
    float:left;
    width:30vw;
    height:50vh;
}
.roomChat{
    background-color:#7fc7af;
    position: absolute;
    bottom:0px;
    width:80vw;
    height:20vh;
}


/*TIMER*/
.square {
  position: absolute;
  width: 30vw;
  height: 50vh;
}
svg {
  width: 30vw;
  height: 50vh;
}

/*CANVAS*/
#canvasContainer{
    float: left;
    width:40vw;
    height:100vh;
    position:relative;
}

 #imageView{
    border: 2px #c3c3c3 solid;
    width:40vw;
    height:100vh;
    background-color:white;
    
 }
#mainCanvas{
    border: 2px #c3c3c3 solid;
    width:40vw;
    height:100vh;
    background-color:transparent;
    position:absolute;
    top: 0; right: 0;
}
/*Alati*/
.canvasTools{
    float:left;
    width:100px;
    height:200vh;
}
.green{
    width:15px;
    height:15px;
    background:green;
}
.orange{
    width:15px;
    height:15px;
    background:orange;
}
.blue{
    width:15px;
    height:15px;
    background:blue;
}
.yellow{
    width:15px;
    height:15px;
    background:yellow;
}
.red{
    width:15px;
    height:15px;
    background:red;
}
.black{
    width:15px;
    height:15px;
    background:black;
}
.rose{
    width:15px;
    height:15px;
    background:#FF0066;
}
.oker{
    width:15px;
    height:15px;
    background:#CC9900;
}
.ljubicasto{
    width:15px;
    height:15px;
    background:#9900CC;
}
.bordo{
    width:15px;
    height:15px;
    background:#660000;
}
.trava{
    width:15px;
    height:15px;
    background:#003300;
}
.tirkizno{
    width:15px;
    height:15px;
    background:#00CC99;
}
.green2{
    width:15px;
    height:15px;
    background:#00FF00;
}
.ljubicasto2{
    width:15px;
    height:15px;
    background:#660033;
}
.rose2{
    width:15px;
    height:15px;
    background:#FF0066;
}
.belo{
    width:15px;
    height:15px;
    background:#FFFFFF;
}
.orange2{
    width:15px;
    height:15px;
    background:#FF3300;
}
.teget{
    width:15px;
    height:15px;
    background:#000033;
}
#white{
    width:15px;
    height:15px;
    background-image:url('../Pictures/eraser.png');
    
}
#line{
    
    margin: 2px 2px 2px 2px;
    width:16px;
    height:17px;
    background-image:url('../Pictures/line.png');
   
}
#pencil{

    margin: 2px 2px 2px 2px;
    width:15px;
    height:15px;
    background-image:url('../Pictures/pen.png');
   
}
#rect{
    
    margin: 2px 2px 2px 2px;
    width:15px;
    height:15px;
    background-image:url('../Pictures/rect.png');

}
#circle{
    
    margin: 2px 2px 2px 2px;
    width:15px;
    height:15px;
    background-image:url('../Pictures/circle.png');
}

#boje1{
    width:15px;
    height:45px;
    float:left;
}
#boje2{
    width:15px;
    height:45px;
    float:left;
}
#boje3{
    width:15px;
    height:45px;
    float:left;
}
#boje4{
    width:15px;
    height:45px;
    float:left;
}
#boje5{
    width:15px;
    height:45px;
    float:left;
}
#boje6{
    width:15px;
    height:45px;
    float:left;
}
#borderColor{
    height:50px;
    width:100px;
   
}
#fillColor{
    float:left;
    height:50px;
    width:100px;
}


#guessesArea{
    height:150px;
    width:28vw;
}

#guessInput{
    width:28vw;
}