
  
<div class="roomContent">
    <div ng-controller="GameController">
        <div class="roomCanvas">
            <div class="canvasTools">
                
                    
                        Border Color:
                        <div id="green" ng-click="color('green')"></div>
                        <div id="blue" ng-click="color('blue')"></div>
                        <div id="red" ng-click="color('red')"></div>
                        <div id="yellow" ng-click="color('yellow')"></div>
                        <div id="orange" ng-click="color('orange')"></div>
                        <div id="black" ng-click="color('black')"></div>
                        <div id="rose" ng-click="color('#FF0066')"></div>
                        <div id="ljubicasto" ng-click="color('#9900CC')"></div>
                        <div id="oker" ng-click="color('#CC9900')"></div>
                        <div id="tirkizno" ng-click="color('#00CC99')"></div>
                        <div id="trava" ng-click="color('#003300')"></div>
                        <div id="bordo" ng-click="color('#660000')"></div>
                   

                   
                <!--OVDE BI TREBALO DA NA CLICK OTVORI PALETU, I TAJ SKRIPT SIGURNO RADI, SAMO STO NE VIDI SKRIPT-->
               <form>
                    <input class="color" value="66ff00" />
                </form>

                Eraser
                <div id="white" ng-click="color('white')"></div>
                Drawing style
                <div id="pencil" ng-click="drawingStyle('pencil')"></div>
                <div id="line" ng-click="drawingStyle('line')"></div>
                <div id="rect" ng-click="drawingStyle('rect')"></div>
                <div id="circle" ng-click="drawingStyle('circle')"></div>

                <form name="selectForm">
                    <label for="selectSize">Size: </label>
                    <select id="selectSize" ng-model="sizeSelect" ng-change="sizeChanged()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                    </select><br>
                </form>
                <br />
                <button ng-click="startGame()" ng-disabled="isDisabled" class="btn btn-primary">START</button>
                <button ng-click="undo()" ng-disabled="undoDisabled" class="btn btn-primary">UNDO</button>
                <button ng-click="redo()" ng-disabled="redoDisabled" class="btn btn-primary">REDO</button>


            </div>
            <div id="canvasContainer">

                <canvas id="imageView" ng-model="scale" width="{{scale.w}}" height="{{scale.h}}"></canvas>
                <canvas id="mainCanvas" ng-model="scale" width="{{scale.w}}" height="{{scale.h}}" ng-mousedown="mouseDown($event)" ng-mousemove="mouseMove($event)" ng-mouseleave="removeFlag()" ng-mouseup="mouseUp($event)"></canvas>


            </div>
        </div>
        <div class="roomTimer">

            <div class="square">
                <svg>
                    <circle cx="120" cy="120" r="100" stroke="green" stroke-width="4" fill="yellow" />
                    <line ng-model="angle" x1="120" y1="120" x2="120" y2="20" style="stroke:rgb(255,0,0); stroke-width:2;" transform="rotate({{angle}} 120 120)" />

                </svg>

            </div>

        </div>
    </div>
    <div class="roomGuesses">Guess</div>
    <div class="roomChat" ng-controller="ChatController">
        <h1>Simple chat</h1>
        <label>Your message</label>
        <input type="text" class="form-control" id="focusedInput" ng-model="chatMessage" />
        <button ng-click="sendChatMessage()" class="btn btn-primary">SAY</button>
        <div ng-repeat="item in chatMessages" id="chatMessages">
            <p>
                <span>{{item.created | date:'shortTime'}}</span>
                <span><em>{{item.message}}</em></span>
            </p>
        </div>
    </div>

    
</div>
