<div ng-controller="LandingPageController">
    <div style="float:right">
        <h4>Available rooms</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tr ng-repeat="x in rooms">
                <td>{{ x.Name }}</td>
                <td>{{ x.Date | date: 'd.M.yyyy, H:m' }}</td>
            </tr>
        </table>

        <form>
            <label for="inputNewRoom" class="col-lg-2 control-label">Add new room</label>
            <input type="text" ng-model="newRoom.Name" class="form-control" id="inputNewRoom" placeholder="Name">
            <button type="submit" ng-click="addRoom()" class="btn btn-primary">Add</button>
        </form>
    </div>

    <div>
        <h4>Weekly score</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr ng-repeat="x in weeklyscore">
                <td>{{ x.Username }}</td>
                <td>{{ x.Score }}</td>
                <td>{{ x.Date | date: 'd.M.yyyy.' }}</td>
            </tr>
        </table>
    </div>

    <div>
        <h4>Overall score</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tr ng-repeat="x in overallscore">
                <td>{{ x.Username }}</td>
                <td>{{ x.Score }}</td>
                <td>{{ x.Date | date: 'd.M.yyyy.' }}</td>
            </tr>
        </table>
    </div>
</div>